.prices{
  padding-top: 60px;
  &__title{
   text-align: center;
    position: relative;
    @include beforeCircle;
    &:before{
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__wrapper{
    margin-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(2,366px);
    justify-content: space-between;
  }
  &__column{
    list-style-type: none;
    margin: 0;
  }
  &__item{
    padding-left: 25px;
    &:not(:last-child){
      margin-bottom: 15px;
    }
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: $main-color;
    }
  }
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__body{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
  }
}